<html>
  <body>
    <main class="form-signin">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <h1 class="h3 mb-3 fw-normal">please fill in the registration form</h1>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            formControlName="email"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="name" formControlName="name" />
          <label for="floatingInput">name</label>
        </div>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="username"
            formControlName="username"
          />
          <label for="floatingInput">username</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            formControlName="password"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mb-3">
          <label> <input type="checkbox" value="MFA" formControlName="MFA" /> two factor authentication </label>
        </div>
        <re-captcha
          (resolved)="resolved($event)"
          (error)="onError($event)"
          errorMode="handled"
          siteKey="6LcpFuUcAAAAAMVerMJUZswPGj2ES2z14IJBqJ1l"
        ></re-captcha>
        Already have an account? <a routerLink="/login">login</a>
        <button class="w-100 btn btn-lg btn-primary" type="submit">register</button>
      </form>
    </main>
  </body>
</html>
